.userIdBox{
    border-width: 1px;
    border-style: solid;
}
.makePost{
    position: absolute;
    bottom: 100px;
    left: 200px;
    border-style: groove;
    padding: 10px;
}
#title{
    font-size: 2em;
    margin: 10px;
    font-weight: bold;
}
#date{
    margin: 10px;
}
#text{
    margin: 10px;
}